---
siteTitle: Fulbly Diddle Docs
---

<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
  <title>{{ siteTitle }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="generator" content="{{ eleventyinfo.generatorStr}}" />
  <meta name="author" content="Fumbly Diddle Software">
  {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
  {% if categories.length > 0 %}<meta name="keywords" content="{% GetKeywords categories %}">{% endif %}
  {% comment %} <link rel="manifest" href="/manifest.json"> {% endcomment %}
  <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/main.css" />  
</head>

<body class="is-preload">
  {{ content }}  
</body>

</html>